<ul>
  <li><b>SUMAC 2025</b> <a href="https://sumac-workshops.github.io/2025/">Website</a> & <a href="https://dl.acm.org/doi/proceedings/10.1145/3746273">Proceedings</a></li>
  <li><b>SUMAC 2024</b> <a href="https://sumac-workshops.github.io/2024/">Website</a> & <a href="https://dl.acm.org/doi/proceedings/10.1145/3689094">Proceedings</a></li>
  <li><b>SUMAC 2023</b> <a href="https://sumac-workshops.github.io/2023/">Website</a> & <a href="https://dl.acm.org/doi/proceedings/10.1145/3607542">Proceedings</a></li>
  <li><b>SUMAC 2022</b> <a href="https://sumac-workshops.github.io/2022/">Website</a> & <a href="https://dl.acm.org/doi/proceedings/10.1145/3552464">Proceedings</a></li>
  <li><b>SUMAC 2021</b> <a href="https://sumac-workshops.github.io/2021/">Website</a> & <a href="https://dl.acm.org/doi/proceedings/10.1145/3475720">Proceedings</a></li>
  <li><b>SUMAC 2020</b> <a href="https://sumac-workshops.github.io/2020/">Website</a> & <a href="https://dl.acm.org/doi/proceedings/10.1145/3423323">Proceedings</a></li>
  <li><b>SUMAC 2019</b> <a href="https://sumac-workshops.github.io/2019/">Website</a> & <a href="https://dl.acm.org/doi/proceedings/10.1145/3347317">Proceedings</a></li>
</ul>
